In [1]:
import numpy as np
import pandas as pd

import env
import acquire as ac

In [2]:
# properties_query = """
# SELECT id, parcelid, bathroomcnt, bedroomcnt, calculatedfinishedsquarefeet, fips, unitcnt, taxvaluedollarcnt, taxamount, (taxamount/taxvaluedollarcnt) as tax_rate
# FROM properties_2017
# WHERE unitcnt = 1;
# """

In [3]:
# properties = pd.read_sql(properties_query, url)
# properties

In [4]:
# predictions_query = """
# SELECT parcelid, MAX(transactiondate) as last_transaction_date
# FROM predictions_2017
# WHERE transactiondate >= "2017-05-01"
# AND transactiondate <= "2017-06-30"
# GROUP BY parcelid
# ORDER BY last_transaction_date;
# """

In [5]:
# predictions = pd.read_sql(predictions_query, url)
# predictions

In [6]:
# joined_query = """
# SELECT prop.id, prop.parcelid, prop.bathroomcnt, prop.bedroomcnt, prop.calculatedfinishedsquarefeet, prop.fips, prop.unitcnt, prop.taxvaluedollarcnt, prop.taxamount, (prop.taxamount/prop.taxvaluedollarcnt) as taxrate, pred.transactiondate
# FROM properties_2017 as prop
# JOIN predictions_2017 as pred USING(parcelid)
# WHERE prop.unitcnt = 1
# AND pred.transactiondate >= "2017-05-01"
# AND pred.transactiondate <= "2017-06-30"
# ORDER BY pred.transactiondate;
# """

In [7]:
# joined = pd.read_sql(joined_query, url)
# joined

In [8]:
# alternate_joined_query = """SELECT prop.id, prop.parcelid, prop.bathroomcnt, prop.bedroomcnt, prop.calculatedfinishedsquarefeet, prop.fips, prop.propertylandusetypeid, prop.unitcnt, prop.taxvaluedollarcnt, prop.taxamount, (prop.taxamount/prop.taxvaluedollarcnt) as tax_rate, pred.transactiondate
# FROM properties_2017 as prop
# JOIN predictions_2017 as pred USING(parcelid)
# WHERE prop.propertylandusetypeid = 261;
# """

In [9]:
# alt_joined = pd.read_sql(alternate_joined_query, url)
# alt_joined

In [10]:
# new_query = """SELECT prop.id, prop.parcelid, prop.bathroomcnt, prop.bedroomcnt, prop.calculatedfinishedsquarefeet, prop.fips, prop.propertylandusetypeid, plut.propertylandusedesc, prop.unitcnt, prop.taxvaluedollarcnt, prop.taxamount, (prop.taxamount/prop.taxvaluedollarcnt) as tax_rate, pred.transactiondate
# FROM properties_2017 as prop
# JOIN predictions_2017 as pred USING(parcelid)
# JOIN propertylandusetype as plut USING(propertylandusetypeid)
# WHERE prop.propertylandusetypeid = 261
# AND pred.transactiondate >= "2017-05-01"
# AND pred.transactiondate <= "2017-06-30"
# ORDER BY pred.transactiondate;
# """

In [11]:
# new_df = pd.read_sql(new_query, url)
# new_df

---

In [28]:
url = env.get_db_url("zillow")

In [29]:
zillow_query = """SELECT prop.bathroomcnt, prop.bedroomcnt, prop.calculatedfinishedsquarefeet, prop.fips, plut.propertylandusedesc, prop.taxvaluedollarcnt, prop.taxamount, (prop.taxamount/prop.taxvaluedollarcnt) as tax_rate, pred.transactiondate
FROM properties_2017 as prop
JOIN predictions_2017 as pred USING(parcelid)
JOIN propertylandusetype as plut USING(propertylandusetypeid)
WHERE prop.propertylandusetypeid = 261
AND pred.transactiondate >= "2017-05-01"
AND pred.transactiondate <= "2017-06-30"
ORDER BY pred.transactiondate;
"""

In [30]:
df = pd.read_sql(zillow_query, url)
df

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,propertylandusedesc,taxvaluedollarcnt,taxamount,tax_rate,transactiondate
0,2.5,3.0,1653.0,6059.0,Single Family Residential,605000.0,6185.28,0.010224,2017-05-01
1,3.0,3.0,1572.0,6037.0,Single Family Residential,404060.0,4934.43,0.012212,2017-05-01
2,3.0,4.0,3041.0,6037.0,Single Family Residential,245311.0,2963.65,0.012081,2017-05-01
3,2.0,3.0,1692.0,6037.0,Single Family Residential,649169.0,8063.11,0.012421,2017-05-01
4,2.0,4.0,1611.0,6037.0,Single Family Residential,89640.0,1144.73,0.012770,2017-05-01
...,...,...,...,...,...,...,...,...,...
15031,3.0,5.0,2526.0,6059.0,Single Family Residential,458903.0,5718.72,0.012462,2017-06-30
15032,3.0,5.0,2735.0,6059.0,Single Family Residential,115387.0,1465.88,0.012704,2017-06-30
15033,2.0,3.0,1536.0,6037.0,Single Family Residential,297097.0,3519.78,0.011847,2017-06-30
15034,3.0,5.0,2655.0,6059.0,Single Family Residential,746963.0,8065.50,0.010798,2017-06-30
15035,3.0,4.0,2305.0,6037.0,Single Family Residential,579047.0,6996.21,0.012082,2017-06-30

In [31]:
df.to_csv("zillow_data")

In [15]:
# california_fips = pd.read_csv("california_fips.csv")
# california_fips.drop(columns="Unnamed: 0", inplace=True)
# california_fips.head()

In [16]:
# df = pd.merge(final_df, california_fips, left_on="fips", right_on="06000", how="left")
# df

In [17]:
# df.California.value_counts()

In [18]:
# df.propertylandusedesc.value_counts()

In [19]:
# df.drop(columns="06000", inplace=True)
# df

In [20]:
# df.rename(columns={"bathroomcnt": "bathrooms", "bedroomcnt": "bedrooms", "calculatedfinishedsquarefeet": "square_feet", "fips": "fips_code", "propertylandusedesc": "property_description", "taxvaluedollarcnt": "tax_value", "taxamount": "tax_amount", "transactiondate": "transaction_date", "California": "county"}, inplace=True)

In [21]:
# df

In [22]:
# df = df.dropna()

In [23]:
# df.info()

In [24]:
# df.describe()

In [25]:
# def wrangle_zillow():
#     df = pd.read_sql(zillow_query, url)
#     california_fips = pd.read_csv("california_fips.csv")
#     california_fips.drop(columns="Unnamed: 0", inplace=True)
#     df = pd.merge(final_df, california_fips, left_on="fips", right_on="06000", how="left")
#     df.drop(columns="06000", inplace=True)
#     df.rename(columns={"bathroomcnt": "bathrooms", "bedroomcnt": "bedrooms", "calculatedfinishedsquarefeet": "square_feet", "fips": "fips_code", "propertylandusedesc": "property_description", "taxvaluedollarcnt": "tax_value", "taxamount": "tax_amount", "transactiondate": "transaction_date", "California": "county"}, inplace=True)
#     df = df.dropna()
#     return df

In [26]:
df = ac.wrangle_zillow()
df

,bathrooms,bedrooms,square_feet,fips_code,property_description,tax_value,tax_amount,tax_rate,transaction_date,county
0,2.5,3.0,1653.0,6059.0,Single Family Residential,605000.0,6185.28,0.010224,2017-05-01,Orange County
1,3.0,3.0,1572.0,6037.0,Single Family Residential,404060.0,4934.43,0.012212,2017-05-01,Los Angeles County
2,3.0,4.0,3041.0,6037.0,Single Family Residential,245311.0,2963.65,0.012081,2017-05-01,Los Angeles County
3,2.0,3.0,1692.0,6037.0,Single Family Residential,649169.0,8063.11,0.012421,2017-05-01,Los Angeles County
4,2.0,4.0,1611.0,6037.0,Single Family Residential,89640.0,1144.73,0.012770,2017-05-01,Los Angeles County
...,...,...,...,...,...,...,...,...,...,...
15031,3.0,5.0,2526.0,6059.0,Single Family Residential,458903.0,5718.72,0.012462,2017-06-30,Orange County
15032,3.0,5.0,2735.0,6059.0,Single Family Residential,115387.0,1465.88,0.012704,2017-06-30,Orange County
15033,2.0,3.0,1536.0,6037.0,Single Family Residential,297097.0,3519.78,0.011847,2017-06-30,Los Angeles County
15034,3.0,5.0,2655.0,6059.0,Single Family Residential,746963.0,8065.50,0.010798,2017-06-30,Orange County
15035,3.0,4.0,2305.0,6037.0,Single Family Residential,579047.0,6996.21,0.012082,2017-06-30,Los Angeles County